

body {
  padding-right: 0px;
  padding-left: 0px;
  scrollbar-face-color: #780000;
  padding-bottom: 0px;
  margin: 5px;
  scrollbar-highlight-color: #780000;
  scrollbar-shadow-color: #660000;
  scrollbar-3dlight-color: #780000;
  scrollbar-arrow-color: #c0c0c0;
  padding-top: 0px;
  scrollbar-track-color: #330000;
  scrollbar-darkshadow-color: #330000;
  width: 800px;
  margin: 0 auto;
}
a:hover {
	color: #c0c0c0
}
a {
	text-decoration: none
}
.news {
	font: 8pt verdana, arial, helvetica, sans-serif; color: #0fabc6
}
table {
	font: 8pt verdana, arial, helvetica, sans-serif; color: #c0c0c0; text-decoration: none
}
tr {
	font: 8pt verdana, arial, helvetica, sans-serif; color: #c0c0c0
}
td {
	font: 8pt verdana, arial, helvetica, sans-serif; color: #c0c0c0
}
td.valeur
{
	background-color: #a3a3c9;
	color : #000000;
	font-size : 15px;
	padding : 2px
}
td.casse
{
	background-color : #800000;
	font-weight: bold;
	color : #ffffff;
}
td.ok
{
	background-color : #008000;
	color : #ffffff;
	font-weight: bold;
}

th
{
	background-color : #101010;
	font-weight : bold;
	text-align : right;
}
th.titre
{
	text-align : center;
}
textarea {
	border: #666666 1px groove;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	overflow-y: auto;
	font-size: 8pt;
	overflow-x: hidden;
	color: #ffffff;
	font-family: verdana, arial, helvetica;
	background-color: #780000;
}
select {
	border: #b4c2ca 1px solid;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-size: 8pt;
	color: #ffffff;
	font-family: verdana, arial, helvetica;
	background-color: #780000;
}
input {
	border: #b4c2ca 1px solid;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-size: 8pt;
	color: #ffffff;
	font-family: verdana, arial, helvetica;
	background-color: #780000;
}
div.actions
{
	border: #780000 1px solid;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-align : center;
	font-weight : bold;
}

tr.casse
{
	background-color : #800000;
	font-weight: bold;
	color : #ffffff;
	text-align : center;
}

tr.piece
{
	background-color : #202020;
	text-align : center;
}

table.listebleu
{
	border : #000080 1px solid;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

table.liste
{
	border: #780000 1px solid;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}